.benefits {
  width: calc(100% - 40px);
  margin: 20px 20px 53px 20px;
}

.benefits__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.benefits__list {
  margin-top: 16px;
  padding: 0;
  padding-left: 80px;
}

.benefits__item {
  position: relative;
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-basic-text;
  list-style-type: none;
  padding-top: 26px;
  max-width: 200px;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--teaf {
    &::after {
      background-image: url("../img/icons-teaf.svg");
    }
  }

  &--tub {
    &::after {
      background-image: url("../img/icons-tub.svg");
    }
  }

  &--eat {
    &::after {
      background-image: url("../img/icons-eat.svg");
    }
  }

  &--alarm {
    &::after {
      background-image: url("../img/icons-alarm.svg");
    }
  }
}

@media (min-width: @tablet-width) {
  .benefits {
    width: calc(100% - 60px);
    margin: 45px 30px 104px 30px;
  }

  .benefits__title {
    font-size: 60px;
    line-height: 60px;
  }

  .benefits__list {
    counter-reset: section 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    row-gap: 130px;
    padding-left: 0;
    margin-top: 68px;
    margin-bottom: 0;
  }

  .benefits__item {
    counter-increment: section;
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 115px;

    &::before {
      content: counter(section);
      position: absolute;
      top: -38px;
      right: -4px;
      font-family: @main-font;
      font-size: 280px;
      line-height: 280px;
      color: @bg-basic-light-dark;
      z-index: -2;
    }

    &::after {
      left: 0;
      top: 2px;
      width: 80px;
      height: 80px;
      background-size: 100%;
    }

    &--teaf {
      &::before {
        right: 20px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 72px;
    padding-bottom: 0;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    padding: 0;
  }

  .benefits__item::before {
    right: -4px;
  }

  .benefits__item--teaf::before {
    right: 20px;
  }
}
