.button {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-light;
  background-color: @bt-basic;
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
  }
}
