.information__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @bt-basic;
    z-index: -2;
  }
}

.information__box {
  width: min-content;
  min-width: 230px;
}

.information__title {
  display: inline-block;
  background-color: @color-light;
  padding: 0 20px;
}

.information__inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 22px;
  margin-bottom: 32px;
}

.information__inner:last-child {
  padding-bottom: 0;
}

.information__list {
  margin-bottom: 18px;
}

.information__item {
  position: relative;
  padding-bottom: 23px;
  padding-left: 46px;
}

.information__checkbox {
  position: relative;
}

.information__checkbox-visible {
  content: "";
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid @bg-light-dark;
}

.information__input[type="checkbox"]:checked + .information__checkbox-visible::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: -1px;
  left: 1px;
  background-image: url("../img/icons-tick.svg");
  background-repeat: no-repeat;
}

.information__input:hover + .information__checkbox-visible {
  border: 1px solid @bc-form;
}

.information__input:disabled + .information__checkbox-visible,
.information-input:disabled ~ .information-label {
  opacity: 0.3;
}

.information__button {
  display: block;
  width: 100%;

  &:hover {
    background-color: @bt-dark;
  }

  &:active {
    background-color: @bt-dark;
    color: rgba(@color-light, 0.3);
  }
}

.information__desc {
  display: block;
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 21px;
}

@media (min-width: @tablet-width) {
  .information {
    padding-top: 51px;
    margin-bottom: 72px;
  }

  .information__box {
    width: calc(100% - 60px);
    margin-left: 30px;
  }

  .information__title {
    display: inline-block;
    padding: 0 40px;
  }

  .information__inner {
    box-sizing: border-box;
    width: calc(100% - 60px);
    padding-top: 40px;
    padding-left: 40px;
  }

  .information__list,
  .information__container-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
  }

  .information__item {
    position: relative;
    padding-bottom: 42px;
    padding-left: 59px;
  }

  .information__checkbox-visible {
    top: -12px;
    left: -59px;
    width: 40px;
    height: 40px;
  }

  .information__input[type="checkbox"]:checked + .information__checkbox-visible::before {
    width: 30px;
    height: 30px;
    top: 6px;
    left: 6px;
  }

  .information__desc {
    font-size: 16px;
    text-align: start;
    padding-top: 15px;
    padding-left: 2px;
  }

  .information__button {
    width: 87%;
    padding: 16px 0;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .information {
    padding-top: 64px;
    margin-bottom: 83px;
  }

  .information__container::before {
    top: 58%;
  }

  .information__box {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
  }

  .information__title {
    margin-left: -40px;
  }

  .information__inner {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 61px;
    padding-left: 0;
  }

  .information__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    margin-bottom: 24px;
  }

  .information__container-button {
    gap: 76px;
  }

  .information__button {
    width: 100%;
  }

  .information__desc {
    padding-top: 18px;
  }
}
