.information__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @bt-basic;
    z-index: -2;
  }
}

.information__box {
  width: calc(100% - 40px);
}

.information__title {
  display: inline-block;
  background-color: @color-light;
  padding: 0 20px;
}

.information__inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 34px;
  margin-bottom: 32px;
}

.information__inner:last-child {
  padding-bottom: 0;
}

.information__item {
  position: relative;
  padding-bottom: 30px;
  padding-left: 46px;
}

.information__checkbox {
  position: relative;
}

.information__checkbox-visible {
  content: "";
  position: absolute;
  top: -6px;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid @bg-light-dark;
}

.information-input[type="checkbox"]:checked + .information__checkbox-visible::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  top: 2px;
  left: 2px;
  background-image: url("../img/icons-tick.svg");
}

.information-input:disabled + .information__checkbox-visible,
.information-input:disabled ~ .information-label {
  opacity: 0.3;
}

.information__button {
  display: block;
  width: 100%;

  &:hover {
    background-color: @bt-dark;
  }

  &:active {
    background-color: @bt-dark;
    color: rgba(@color-light, 0.3);
  }
}

.information__desc {
  display: block;
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 21px;
}

@media (min-width: @tablet-width) {
  .information {
    margin-bottom: 72px;
  }

  .information__box {
    width: calc(100% - 60px);
    margin-left: 30px;
  }

  .information__title {
    display: inline-block;
    padding: 0 40px;
  }

  .information__inner {
    box-sizing: border-box;
    width: calc(100% - 60px);
    padding-top: 57px;
    padding-left: 40px;
  }

  .information__list,
  .information__container-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  .information__item {
    position: relative;
    padding-bottom: 50px;
  }

  .information__checkbox-visible {
    top: -7px;
  }

  .information__desc {
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .information {
    padding-bottom: 80px;
  }

  .information__box {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
  }

  .information__title {
    margin-left: -40px;
  }

  .information__inner {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 0;
  }

  .information__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 104px;
  }

  .information__container-button {
    gap: 105px;
  }
}
