.contacts {
  width: 1220px;
  margin: 0 auto;

  outline: 2px solid rgb(235, 149, 0);
}

.contacts__inner-address {
  padding-top: 95px;
}

.contacts__slogan {
  font-family: @main-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__text {
  font-family: @text-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-basic-text);
  margin: 0;
}
