.additional-product {
  width: 1220px;
  margin: 0 auto;
}

.additional-product__promo {
  width: 245px;
  height: 288px;
  background-color: var(--bt-basic);
  background-size: cover;
  background-position: center center;
  background-image: url("../../img/additional-product-promo.jpeg") no-repeat;
}

.additional-product__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
  text-decoration: none;
}
