.program {
  width: 1220px;
  margin: 0 auto;

  &__title {
    font-family: @main-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--color-dark-text);
  }

  &__text {
    font-family: @text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark-text);
  }

  &__inner {
    background-color: var(--bg-basic-light-dark);
  }
}
