.benefits {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 50px;

  outline: 2px solid rgba(29, 0, 235, 0.8);
}

.benefits__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.benefits__list {
  counter-reset: section;
  margin: 0;
  padding: 0;
}

.benefits__item {
  counter-increment: counters 1;
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-basic-text;
  list-style-type: none;

  &::before {
    counter-increment: section;
    content: counters(section);
  }
}

@media (min-width: @tablet-width) {
  .benefits {
    width: calc(100% - 60px);
    margin: 0 30px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
