.benefits {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.benefits__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.benefits__list {
  counter-reset: section;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-left: 80px;
}

.benefits__item {
  counter-increment: counters 1;
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-basic-text;
  list-style-type: none;
  padding-top: 24px;

  &::before {
    counter-increment: section;
    content: counters(section);
  }

  &:first-child {
    padding-top: 0;
  }
}

.benefits__icons-teaf {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: @bt-basic;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icons-teaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.benefits__icons-tub {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: @bt-basic;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon-tub.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.benefits__icons-eat {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: @bt-basic;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon-eat.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.benefits__icons-alarm {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: @bt-basic;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/icon-alarm.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: @tablet-width) {
  .benefits {
    width: calc(100% - 60px);
    margin: 0 30px;
    padding-top: 45px;
    padding-bottom: 104px;
  }

  .benefits__title {
    font-size: 60px;
    line-height: 60px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }

  .benefits__item {
    max-width: 230px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 183px;

    &:first-child {
      padding-top: 183px;
    }
  }

  .benefits__icons-teaf {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: @bt-basic;
    }

    &::after {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 80px;
      height: 80px;
      background-image: url("../img/icons/icons-teaf.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .benefits__icons-tub {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: @bt-basic;
    }

    &::after {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 80px;
      height: 80px;
      background-image: url("../img/icons/icon-tub.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .benefits__icons-eat {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: @bt-basic;
    }

    &::after {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      width: 80px;
      height: 80px;
      background-image: url("../img/icons/icon-eat.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .benefits__icons-alarm {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 98px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: @bt-basic;
    }

    &::after {
      content: "";
      position: absolute;
      top: 98px;
      left: 0;
      width: 80px;
      height: 80px;
      background-image: url("../img/icons/icon-alarm.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
  }

  .benefits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
