.comment {
  margin: 0;
  padding-top: 37px;
}

.comment__field {
  width: 95%;
}

@media (min-width: @tablet-width) {
  .comment {
    padding-top: 76px;
  }
}


@media (min-width: @desktop-width) {
  .comment__field {
    width: 100%;
    height: 174px;
  }
}
