.contacts {
  width: 320px;
  margin: 0 auto;

  outline: 2px solid rgb(235, 149, 0);
  background-color: @bg-basic-light-dark;
}

.contacts__wrapper {
  width: 320px;
}

.contacts__inner-address {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;

  outline: 2px solid rgb(235, 0, 141);
}

.contacts__slogan {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__text {
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @color-basic-text;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 708px;
    margin: 0 auto;
  }

  .contacts__inner-address {
    width: 100%;
    background-color: @color-light;
  }

  .contacts__slogan,
  .contacts__text {
    padding: 0 40px;
  }

  .contacts__map {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1220px;
    margin: 0 auto;
  }

  .contacts__inner-address {
    background-color: @color-light;
    width: 564px;
    margin: 0;
  }

  .contacts__map {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
