.contacts {
  outline: 2px solid rgb(235, 149, 0);
  background-color: @bg-basic-light-dark;
}

.contacts__inner-address {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;
}

.contacts__slogan {
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__text {
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @color-basic-text;
  margin: 0;
}

.contacts__map {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__inner-address {
    width: 708px;
    margin: 0 auto;
  }

  .contacts__slogan,
  .contacts__text {
    padding: 0 40px;
  }
}
