.contacts-use {
  margin-top: 26px;
}

.contacts-use__container {
  position: relative;


  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @bt-basic;
    z-index: -2;
  }
}

.contacts-use__box {
  width: calc(100% - 40px);
  background-color: @color-light;
}

.contacts-use__subtitle {
  display: inline-block;
  padding-left: 21px;
  padding-right: 21px;
}

.contacts-use__wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 35px;
}

.contacts-use__wrapper p:last-child {
  padding-bottom: 0;
}

.contacts-use__inner {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}

.contacts-use__label {
  padding-right: 14px;
}

.contacts-use__input-email,
.contacts-use__input-phone {
  flex-grow: 1;
}

.contacts-use__input-email {
  background-image: url("../img/icons/icons-email.svg");
  background-repeat: no-repeat;
  background-size: 20px 14px;
  background-position: 95%;
}

.contacts-use__input-phone {
  background-image: url("../img/icons/icons-phone.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 95%;
}

@media (min-width: @tablet-width) {
  .contacts-use {
    margin-top: 0;

    &::before {
      top: 86px;
    }
  }

  .contacts-use__box {
    width: calc(100% - 60px);
    margin-left: 30px;
  }

  .contacts-use__subtitle {
    display: inline-block;
    padding: 0 40px;
  }

  .contacts-use__wrapper {
    width: calc(100% - 60px);
    padding: 76px 40px 0 40px;
  }

  .contacts__wrapper-light {
    background-color: @color-light;
  }

  .contacts-use__inner {
    display: flex;
  }

  .contacts-use__label {
    padding-right: 14px;
  }

  .contacts-use__input-email,
  .contacts-use__input-phone {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .contacts-use::before {
    top: 90px;
  }

  .contacts-use__wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .contacts-use__subtitle::before {
    left: -7rem;
  }
}
