.data {
  padding-top: 35px;
}

.data__inner {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-bottom: 14px;
  margin: 0;
}

.data__label {
  grid-column: 1/2;
}

.data__input {
  grid-column: 2/3;
}
