.data__inner {
  margin: 0;
}

.data__questionnaire {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 27px;
}

.data__inner p:last-child {
  padding-bottom: 0;
}

.data__label {
  padding-right: 13px;
}

.data__field {
  flex-grow: 1;
}

@media (min-width: @tablet-width) {
  .data__inner {
    padding-bottom: 72px;
  }

  .data__questionnaire {
    display: flex;
    padding-bottom: 20px;
  }

  .data__inner p:last-child {
    padding-bottom: 0;
  }

  .data__label {
    padding-right: 13px;
  }

  .data__field {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .data__inner {
    padding-bottom: 0;
  }
}
