.form {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-top: 37px;

  outline: 2px solid rgba(29, 0, 235, 0.8);
}

.form__questionnaire {
  margin: 0;
}

.form__list {
  padding: 0;
  margin: 0;
}

.form__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.form__field {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-basic-text;
}

.form__item {
  list-style-type: none;
}

.form__radio-label {
  color: @color-special-dark;
}

.form__subtitle {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}

.form__wrapper {
  padding-top: 22px;
  outline: 2px solid rgba(74, 0, 235, 0.8);
}

.form__inner {
  margin: 0;
}

.form__comment {
  margin: 0;
  padding-top: 37px;
}

.form__desc {
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
}

@media (min-width: @tablet-width) {
  .form {
    width: calc(100% - 60px);
    margin: 0 30px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
  }

  .form__field {
    font-size: 20px;
    line-height: 30px;
  }

  .form__subtitle {
    font-size: 36px;
    line-height: 36px;
  }

  .form__desc {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
  }

  .form__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__additional {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
