.information {
  padding-bottom: 32px;
}

.information__inner {
  padding-top: 34px;
}

.information__inner:last-child {
  padding-bottom: 0;
}

.information__item {
  position: relative;
  padding-bottom: 30px;
  padding-left: 46px;
}

.information__checkbox-visible {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @bg-light-dark;
}

.information__button {
  display: block;
  width: 100%;
}

.information__desc {
  display: block;
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 21px;
}

@media (min-width: @tablet-width) {
  .information__inner {
    padding-top: 57px;
  }

  .information__inner,
  .information__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }

  .information__item {
    position: relative;
    padding-bottom: 50px;
  }

  .information__checkbox-visible {
    top: 0;
  }

  .information__desc {
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .information {
    padding-bottom: 80px;
  }

  .information__inner {
    grid-template-columns: repeat(4, 1fr);
    gap: 104px;
  }

  .information__container {
    gap: 105px;
  }
}
