.main-header {
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 17px;

  outline: 2px solid rgba(0, 255, 81, 0.3);
}

.main-header__logo {
  outline: 2px solid rgba(0, 255, 81);
}

.main-nav {
  outline: 2px solid rgb(0, 64, 255);
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 706px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
