.product {
  padding-top: 21px;
  padding-bottom: 25px;

  outline: 2px solid rgba(0, 255, 81);
}

.product__list {
  padding: 0;
  margin: 0;
}

.product__card {
  list-style-type: none;
}

.product__link {
  text-decoration: none;
}

.product__title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-special-dark);
  margin: 0;
}

.product__description-text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-basic-text);
}

.product__text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-basic-text);
  margin: 0;
}

.product__button {
  font-size: 16px;
  line-height: 20px;
}
