.program {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;

  outline: 2px solid rgba(89, 0, 255, 0.3);
}

.program__title {
  font-family: @main-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @color-dark-text;
  margin: 0;
}

.program__text {
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-text;
  margin: 0;
}

.program__inner {
  background-color: @bg-basic-light-dark;
}

.program__button {
  font-size: 16px;
  line-height: 16px;
  color: @color-dark-text;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .program {
    width: 708px;
    margin: 0 auto;
  }

  .program__inner {
    padding-left: 52px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    width: 1220px;
    margin: 0 auto;
  }

  .program__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
