.service-example {
  background-color: @bg-basic-light-dark;
  padding-top: 25px;
  padding-bottom: 40px;
}

.service-example__wrapper {
  width: calc(100% - 40px);
  margin: 0 20px;
}

.service-example__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.service-example__text {
  font-family: @text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-basic-text;
  margin: 0;
  padding-top: 40px;
}

.service-example__list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 30px;
  margin: 0;
}

.service-example__content {
  position: relative;
  padding-top: 34px;
}

.service-example__name {
  grid-column: 1/2;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 1rem 10px 1.1em 10px;
  border: 1px solid @bg-light-dark;
  border-radius: 2px;
}

.service-example__description {
  position: absolute;
  grid-column: 2/3;
  left: 20%;
  bottom: -10px;
  font-family: @text-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @color-basic-text;
  margin: 0 auto;
  background-color: @bg-basic-light-dark;
  padding: 0 15px;
}

.service-example__inner {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 20px;
}

.service-example__desc {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .service-example {
    position: relative;
    padding-top: 43px;
    padding-bottom: 55px;
    background-image: linear-gradient(180deg, @color-light 495px, @bg-basic-light-dark 0);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: @color-basic-text;
      opacity: 0.1;
    }
  }

  .service-example__wrapper {
    width: calc(100% - 60px);
    margin: 0 30px;
  }

  .service-example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .service-example__text {
    font-size: 16px;
    line-height: 24px;
    padding-top: 63px;
  }

  .service-example__list {
    display: grid;
    grid-template-columns: 162px 162px 2fr;
    gap: 40px;
  }

  .service-example__content {
    padding-top: 69px;
  }

  .service-example__name {
    grid-column: 1/2;
    font-size: 30px;
    line-height: 37px;
  }

  .service-example__description {
    grid-column: 2/3;
    font-size: 14px;
    line-height: 14px;
    background-color: @color-light;
  }

  br {
    display: none;
  }

  .service-example__inner {
    grid-column: 3/4;
    justify-self: end;
    flex-wrap: wrap;
    text-align: end;
    width: 174px;
    padding-top: 65px;
  }

  .service-example__desc {
    font-size: 20px;
    line-height: 20px;
    width: 100%;
  }
}

.service-example__picture {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

@media (min-width: @desktop-width) {
  .service-example {
    padding-top: 69px;
    background-image: linear-gradient(180deg, @color-light 210px, @bg-basic-light-dark 0);

    &::before {
      display: none;
    }
  }

  .service-example__wrapper {
    display: flex;
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
  }

  .service-example__box {
    display: flex;
    flex-direction: column;
  }

  .service-example__text {
    max-width: 500px;
    padding-top: 146px;
  }

  .service-example__list {
    display: grid;
    grid-template-columns: repeat(2, 162px);
  }

  .service-example__content {
    padding-top: 84px;
  }

  .service-example__name {
    grid-column: 1/2;
  }

  .service-example__description {
    grid-column: 2/3;
    background-color: @bg-basic-light-dark;
  }

  .service-example__inner {
    flex-wrap: nowrap;
    justify-self: start;
    text-align: start;
    grid-column: 1/4;
    justify-content: flex-start;
    width: 100%;
  }
}
