.service-example {
  background-color: var(--bg-basic-light-dark);
  padding-top: 25px;
  padding-bottom: 40px;

  outline: 2px solid rgb(225, 0, 187);
}

.service-example__title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.service-example__text {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-basic-text);
  margin: 0;
}

.service-example__list {
  margin: 0;
}

.service-example__name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.service-example__description {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-basic-text);
  margin: 0;
}

.service-example__inner {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.service-example__desc {
  margin: 0;
}
