.slider {
  position: relative;
  min-width: 280px;
  min-height: 256px;
  margin-top: 20px;
}

.slider__picture-after {
  position: absolute;
  right: 0;
  width: 140px;
  object-fit: cover;
  object-position: right;
}

.slider__picture-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  object-fit: cover;
  object-position: left;
}

.slider-container {
  position: relative;
}

.slider__curtain {
  position: absolute;
  border: none;
  top: 0;
  left: 50%;
  width: 4px;
  height: 256px;
  background-color: @bc-slider;
  border-radius: 2px;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    top: 44%;
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: @color-light;
    border: 2px solid @bc-slider;
    border-radius: 50%;
  }
}
