.slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
  margin-top: 20px;
}

.slider__picture-after,
.slider__picture-before {
  position: absolute;
  width: 140px;
  object-fit: cover;
}

.slider__picture-after {
  right: 0;
  object-position: right;
}

.slider__picture-before {
  object-position: left;
  left: 0;
}

.slider-container {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 4px;
    height: 256px;
    margin: 0 auto;
    background-color: @bc-slider;
    border-radius: 2px;
  }

  &:hover::before {
    background-color: @bt-basic;
  }

  &:active::before {
    opacity: 0.6;
  }
}

.slider-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 41%;
  left: 42%;
  width: 40px;
  height: 40px;
  background-color: @color-light;
  border: 2px solid @bc-slider;
  border-radius: 50%;
  fill: @bc-slider;

  &:hover {
    fill: @bt-basic;
    border-color: @bt-basic;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    width: 560px;
    height: 512px;
    margin-top: 100px;
  }

  .slider__picture {
    width: 560px;
    height: 512px;
  }

  .slider__picture-after,
  .slider__picture-before {
    width: 280px;
    object-fit: cover;
  }

  .slider__picture-after {
    right: 0;
    object-position: right;
  }

  .slider__picture-before {
    object-position: left;
    left: 0;
  }

  .slider-container::before {
    height: 521px;
  }

  .slider-button {
    left: 46%;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    margin-bottom: 85px;
  }
}
