// Цвет
@color-light: #ffffff;
@color-dark-text: #000000;
@color-special-dark: #222222;
@color-basic-text: #444444;
@bg-light-dark: #cdcdcd;
@bg-additional-light-dark: #ebebeb;
@bg-basic-light-dark: #f2f2f2;
@bt-basic: #68b738;
@bt-dark: #5eaa2f;
@status-error: #ff8282;

// Шрифты
@main-font: "Oswald", @text-font;
@text-font: "Arial", "Helvetica", sans-serif;

// Размеры экранов
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 320px;
