.additional-product {
  width: 1220px;
  margin: 0 auto;
  padding-top: 75px;

  outline: 2px solid rgb(60, 0, 255);
  outline-offset: -2px;

  &__title {
    font-family: @main-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  &__name {
    font-family: @main-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-special-dark);
  }

  &__content {
    font-family: @text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-basic-text);
  }

  &__promo {
    width: 245px;
    height: 288px;
    background-color: var(--bt-basic);
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/additional-product-promo.jpeg") no-repeat;
  }

  &__slogan {
    font-family: @text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-light);
    text-decoration: none;
  }
}
