.form {
  width: 1220px;
  margin: 0 auto;
  padding-top: 56px;

  outline: 2px solid rgba(29, 0, 235, 0.8);
  outline-offset: 2px;

  &__questionnaire {
    margin: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__text {
    font-family: @main-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
  }

  &__field {
    font-family: @main-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-basic-text);
  }

  &__item {
    list-style-type: none;
  }

  &__radio-label {
    color: var(--color-special-dark);
  }

  &__subtitle {
    font-family: @main-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  &__wrapper {
    padding-top: 69px;
  }

  &__inner {
    margin: 0;
  }

  &__comment {
    margin: 0;
    padding-top: 76px;
  }

  &__desc {
    font-family: @text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}
