.benefits {
  padding-top: 20px;
  padding-bottom: 50px;

  outline: 2px solid rgba(29, 0, 235, 0.8);
}

.benefits__title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-basic-text);
  list-style-type: none;
}
