.button {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.program__button {
  color: #000000;
}
