.button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-light);
  background-color: var(--bt-basic);
}
