.main-screen {
  width: 1220px;
  margin: 0 auto;
}

.main-screen__slogan {
  font-family: inherit;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.main-screen__intro {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
